/********************** Variables **********************/

$white : #fff;
$black : #000;
$maroon : #6B301E;
$blue : #4FA5D8;

$color1: #041E42;
;
$color2: #4D4D4D;
$color3: #F4AF23;
$color4: #003BD4;


$primary-font: "Barlow";
$secondary-font: "Inter";

/********************** Root Variables **********************/

:root {
  // --font-size: 17px;
  // --font-1: "Poppins";
  // --color1: #444444;
  // --color2: #092F57;
  // --color3: #E24307;
  // --color4: #1D88CA;
  // --color5: #FAF9F6;
  // --color6: rgba(255,255,255,0.3);
  // --a: #007799;
  // --hover: #007799;
  // --bg1: #f5f5f5;
  // --bg2: #eeeeee;
  // --bglight: rgba(255,255,255,0.5);
  // --bgdark: rgba(0,0,0,0.5);
  // --darktitle: white;
  // --darktext: rgba(255,255,255,0.75);
  // --lighttitle: black;
  // --lighttext: rgba(0,0,0,0.75);
}