/* ubuntu-300 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/ubuntu/ubuntu-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu/ubuntu-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Mundial-100.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Mundial-200.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Mundial-300.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Mundial-400.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Mundial-500.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Mundial-600.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Mundial';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Mundial-800.woff2') format('woff2'); 
}