@use "../mixins" as *;
@use "../variables.scss" as *;

/********************** 01_image_grid_layout **********************/

.over_layout {
    transform: translateY(-167px);
    background: #0059A0;
    // box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 2;
    padding: 45px 0 46px;
    text-align: center;

    .title {
        @include title;
        color: #fff;
    }

    .border {
        display: inline-flex
    }

    .description {
        @include description;
        color: #fff;
        max-width: 970px;
    }
}

.element {
    &.image_grid_layout {
        background: url('./images/theme/home-grid-bg.png') no-repeat center top;
        background-size: cover;
        position: relative;

        .wrap {
            padding: 100px 0;

        }

        .container-xl {
            display: flex;
            gap: 100px;

            .gallery {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 8px;

                img {
                    object-fit: cover;

                    &.img-1 {
                        grid-row: 1/3;
                    }
                }
            }

            .content {
                .heading {
                    @include heading;
                    color: var(--2, #0588BF);

                }

                .title {
                    @include title;
                    color: #fff;
                    margin-top: 10px;
                    text-transform: capitalize;
                }

                .border {
                    margin: 25px 0;
                    width: 60px;
                    height: 3px;
                    background: #0588BF;
                }

                .description {
                    @include description;
                    color: #fff;
                }

                .links {
                    margin-top: 30px;
                    display: flex;
                    gap: 10px;

                    .btn-1 {

                        border: 1px solid #0059A0 !important;

                        &::after {
                            background-color: transparent;
                            display: none;
                        }

                        &:hover {
                            background-color: transparent !important;
                            border: 1px solid transparent;

                            span {
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:1112px) {}

        @media (max-width:1024px) {}

        @media (max-width:844px) {}

        @media (max-width:834px) {}

        @media (max-width:768px) {}

        @media (max-width:600px) {}
    }
}