@use "../mixins" as *;
@use "../variables.scss" as *;

/********************** banner_layout **********************/
.element {

    &.banner_layout {

        // .wrap {
        //     position: relative;
        //     min-height: 260px;
        //     padding: 0;
        // }

        .overlay {
            // background: linear-gradient(221deg, rgba(3, 7, 19, 0.00) 30.2%, rgba(8, 34, 72, 0.80) 81.01%);
            background: linear-gradient(180deg, #20263A 0%, rgba(94, 94, 94, 0.00) 100%);
            mix-blend-mode: multiply;
            z-index: 2;
            //height: 260px;
        }


        .banner-content {
            position: relative;
            z-index: 2;

            .mtitle {
                color: var(--White, #FFF);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Barlow;
                // font-size: 60px;
                // font-size: clamp(2.5rem, 1.9428rem + 2.4096vw, 3.75rem);
                font-size: clamp(2.5rem, 1.25rem + 3.3333vw, 3.75rem);
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                /* 66px */
                letter-spacing: -0.6px;
                text-transform: uppercase;


            }
        }



        // &.home_page {
        //     .wrap {
        //         min-height: 810px;

        //         @media (max-width:600px) {
        //             min-height: 468px;
        //         }

        //         // &::before {
        //         //     @include absolute;
        //         //     background: linear-gradient(180deg, #20263A 0%, rgba(94, 94, 94, 0.00) 100%);
        //         //     mix-blend-mode: multiply;
        //         //     height: 100%;
        //         //     max-height: 552px;

        //         // }

        //         // &::after {
        //         //     @include absolute;

        //         //     background: linear-gradient(360deg, rgba(32, 38, 58, 0.85) 27.08%, rgba(94, 94, 94, 0.00) 100%);
        //         //     mix-blend-mode: multiply;
        //         //     z-index: 1;
        //         //     top: unset;
        //         //     bottom: 0;
        //         //     height: 100%;
        //         //     max-height: 468px;
        //         // }

        //         // .m-image {
        //         //     display: none;
        //         // }

        //         // .banner-content {
        //         //     @include outline;
        //         //     position: relative;
        //         //     z-index: 3;
        //         //     align-self: flex-end;
        //         //     margin-bottom: 90px;

        //         //     .btitle {
        //         //         color: #FFF;
        //         //         font-family: $primary-font;
        //         //         font-size: 20px;
        //         //         font-style: normal;
        //         //         font-weight: 700;
        //         //         line-height: 120%;
        //         //         letter-spacing: 4px;
        //         //         text-transform: uppercase;
        //         //     }

        //         //     .mtitle {
        //         //         margin-top: 10px;
        //         //         color: #FFF;
        //         //         font-family: $primary-font;
        //         //         font-size: 55px;
        //         //         font-style: normal;
        //         //         font-weight: 700;
        //         //         line-height: 110%;
        //         //         text-transform: capitalize;
        //         //     }



        //         //     .dtext {
        //         //         .heading {
        //         //             display: inline-flex;
        //         //             background: rgba(8, 34, 72, 0.90);
        //         //             padding: 10px;
        //         //             color: var(--white, #FFF);
        //         //             font-family: $primary-font;
        //         //             font-size: 21px;
        //         //             font-style: normal;
        //         //             font-weight: 500;
        //         //             line-height: 100%;
        //         //             letter-spacing: -0.21px;
        //         //         }

        //         //         .title {
        //         //             margin-top: 5px;
        //         //             color: var(--white, #FFF);
        //         //             font-family: $primary-font;
        //         //             font-size: 60px;
        //         //             font-size: clamp(2.5rem, 1.9428rem + 2.4096vw, 3.75rem);
        //         //             font-style: normal;
        //         //             font-weight: 400;
        //         //             line-height: 110%;
        //         //             letter-spacing: -0.6px;
        //         //             text-transform: uppercase;

        //         //             strong {
        //         //                 font-weight: 700;
        //         //             }
        //         //         }

        //         //         .btn-1 {
        //         //             padding: 17px 40px;
        //         //             margin-top: 36px;
        //         //         }
        //         //     }
        //         // }
        //     }
        // }

        @media (max-width:1112px) {}

        @media (max-width:1024px) {}

        @media (max-width:844px) {}

        @media (max-width:834px) {}

        @media (max-width:768px) {}

        @media (max-width:600px) {}
    }
}