/* SCROLL TO TOP */

.scroll-up a { 
    background-color: rgba(100, 100, 100, 0.50); 
    color: #fff; 
}
.scroll-up a { 
    width: 38px; 
    height: 38px; 
    border-radius: 2px; 
    opacity: 0.7;  
}
.scroll-up a svg { 
    height: 25px; 
    width: 25px; 
}
.scroll-up { 
    display: none; 
}
.scroll-up { 
    position: fixed; 
    z-index: 999; 
    bottom: 1.8em; 
    right: 1.8em; 
}
